<!-- <header>
	<div class="mui-bar mui-bar-nav NavTitle">
   		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    		<h1 class="mui-title">标题</h1>
    </div>
    
    	<div class="mui-bar mui-bar-nav NavSearch">
   		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">
			<div class="SearchInput">
				<input type="text" placeholder="搜索资讯、数据或研究">
			</div>
		</h1>
    </div>
    
    <ul>
        <li (click)="onTabClicked($event)"><h2>综合</h2></li>
        <li (click)="onTabClicked($event)"><h2>数据</h2></li>
        <li (click)="onTabClicked($event)"><h2>公告</h2></li>
        <li (click)="onTabClicked($event)"><h2>新闻</h2></li>
    </ul>
    {{clickMessage}}
</header> -->
<!-- <header>
	<my-search-header [ SearchTitleComponent ></my-search-header>
</header>
<section>{{section}}</section>
<footer>{{footer}}</footer> -->
<!-- <button (click)="onClickMe()">Click me!</button>
{{clickMessage}} -->

<header>
	<my-search-header></my-search-header>
</header>
<section>{{section}}</section>
<footer>{{footer}}</footer>
