
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0;padding:0;}
body{background:#f4f5f9;}

/*cellHeader*/
.CellHeader {background-color:#ffffff;height:40px;border-bottom:#eeeeee solid 1px;}
.CellHeader em {float:left;width:3px; height:100%; background:#3d77c7;}
.CellHeader h3 {float:left;width:70%;line-height:40px; margin-left:12px;color:#3d77c7;font-size:16px;font-weight:800;}
.CellHeader h3 im {float:left;margin-top:7px;height:27px;width:27px;background:url("../resource/stuff.png") left no-repeat;background-size:65%;}
.CellHeader h3 im[value="hidden"]{background:url("../resource/spread.png") left no-repeat;background-size:65%;}
.CellHeader h4 {float:right;width:48px;line-height:40px; margin-right:15px;color:#7e7e7e;font-size:15px;font-weight:300;}
.CellHeader h4 nt {float:right;margin-top:13px;height:14px;width:7px;background:url("../resource/arrow1.png") left no-repeat;background-size:100%;}
/*CellSubHeader*/
.CellSubHeader{background-color:#f4f5f9;height:35px;border-bottom:#eeeeee solid 1px;}
.CellSubHeader h3 {float:left;width:70%;line-height:35px; margin-left:15px;color:#3d77c7;font-size:13px;font-weight:500;}
.CellSubHeader h4 {float:right;width:45px;line-height:35px; margin-right:15px;color:#7e7e7e;font-size:13px;font-weight:300;}
.CellSubHeader h4 nt {float:right;margin-top:9px;height:14px;width:7px;background:url("../resource/arrow1.png") left no-repeat;background-size:100%;}



.SearchInfoList {width:100%;background-color:#ffffff;}
.SearchInfoList ul{list-style-type:none;overflow:hidden;width:100%;padding:0 15px 0 15px;}
.SearchInfoList ul li{display: table;width:100%;background-color:#ffffff;border-bottom:#eeeeee solid 1px;}
.SearchInfoList ul li h3{display: table-cell;padding:10px 0 10px 0;color:#000000;font-size:15px;font-weight:300;line-height:25px;}
.SearchInfoList ul li h3 a{color:#3d77c7;}
.SearchInfoList ul li nt{display: table-cell;width:7px;background:url("../resource/arrow1.png") left no-repeat;background-size:100%;}
