
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0;padding:0;}
body{background:#f4f5f9;}

header {position:fixed;top:0;z-index:999;background:#f4f5f9;width:100%;text-align:center;height:84px;}
.mui-bar-nav{-webkit-box-shadow: none;box-shadow: none;background-color: #3d77c7;}
.mui-icon-left-nav:before{color: white;}
.mui-title{color: white;}
.SearchInput {margin: 0px 0 10px 0;padding: 0;height: 25px;}
.SearchInput input{color: #444444;padding: 10px 15px; font-size:14px;height: 25px;line-height:25px;}
header ul{display: table;margin-top:44px;list-style-type:none;overflow:hidden;width:100%;}
header li{display: table-cell;width:1%;height:40px;line-height: 40px;}
header li h2{color:#7e7e7e;height:40px;line-height: 40px;font-size:15px;font-weight:500;}
header li.Selected h2{color:#3d77c7;border-bottom:#3d77c7 solid 2px;}

section{margin-top:84px;}


/*公用部分*/
/*cellHeader*/
.CellHeader {background-color:#ffffff;height:40px;border-bottom:#eeeeee solid 1px;}
.CellHeader em {float:left;width:3px; height:100%; background:#3d77c7;}
.CellHeader h3 {float:left;width:70%;line-height:40px; margin-left:12px;color:#3d77c7;font-size:16px;font-weight:800;}
.CellHeader h3 im {float:left;margin-top:7px;height:27px;width:27px;background:url("../resource/stuff.png") left no-repeat;background-size:65%;}
.CellHeader h3 im[value="hidden"]{background:url("../resource/spread.png") left no-repeat;background-size:65%;}
.CellHeader h4 {float:right;width:48px;line-height:40px; margin-right:15px;color:#7e7e7e;font-size:15px;font-weight:300;}
.CellHeader h4 nt {float:right;margin-top:13px;height:14px;width:7px;background:url("../resource/arrow1.png") left no-repeat;background-size:100%;}

