/***************************** 颜色标准化 ***************************/

/**通联红**/
@color_R1: #e6514a;

/**通联白**/
/**通半透明白**/
@color_W1_halfAlpha: #7fffff;
@color_W1: #ffffff;
/**通联黑**/
@color_Black: #000000;
/**通联蓝**/
@color_B1: #3d77c7;
@color_B2: #e1f0fa;
@color_B3: #233040;
@color_B4: #2d3e50;
@color_B5: #546a79;
@color_B6: #f3f7fc;
@color_B7: #cddef4;
@color_B8: #5389d2;
@color_B9: #99c9ff;
@color_B10: #5a9bd1;
@color_B11: #82b0eb;
@color_B12: #d8e4f4;
@color_B13: #cdd9e6;
/**通联绿**/
@color_G1: #0bb908;
@color_G2: #34ba95;

/**通联黄**/
@color_Y1: #fff5d5;
@color_Y2: #65541d;
@color_Y3: #f9d10e;
/**通联灰**/
@color_H1: #f4f5f9;
@color_H2: #e5e5e5;
@color_H3: #c7c7c7;
@color_H4: #bdbdbd;
@color_H5: #a5a5a5;
@color_H6: #99a2a1;
@color_H7: #7e7e7e;
@color_H8: #676767;
@color_H9: #404040;
@color_H10: #7d848d;
@color_H11: #9f9f9f;
@color_H12: #f3f3f3;
@color_H13: #000000;

/**通联紫**/
@color_P1: #dd60bc;

/***************************** 颜色标准化 ***************************/

/** 左边的带蓝色的边 **/
.border-blue-left {

	border-left-style: solid;
	border-left-color: @color_B1;
}

.blue {

	color: @color_B1;
}

.bottom_gray_line {

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: @color_H4;
}


/**
// 标题背景
.app .mui-bar {
	background-color: @color_B1;
}

// 标题背景 
.app .mui-bar .mui-icon {
	color: @color_W1;
}
**/